<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Applications</h2>
                <div class="intro">
                    <p>Applications that I have developed are listed below.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/HR-TeamJoe/Away">Awayy</a></span> - <span class="project-tagline">An application designed to foster world travel and new experiences by guiding you to the perfect destination. Uses Google Places API and Dark Sky API to match potential travel destinations to your specified temperature, time of year, budget, and interests.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/HR-TeamJoe/ShareIn" target="_blank">ShareIn</a></span> - 
                    <span class="project-tagline">Legacy codebase project, a social network for renting useful items from others in your community. Add things you own and want to share to your profile, then others nearby can search for them. For a fee, people can borrow these items from you. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/rcornell/Asset-Management-Platform" target="_blank">Asset Management Platform</a></span> - <span class="project-tagline">A C#/WPF-based desktop application to practice buying and selling equities, ETFs, and mutual funds. Uses Yahoo Finance API to track real time market data and position value.</span>
                </div> <!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="https://github.com/rcornell/SaveMonkey" target="_blank">SaveMonkey</a></span> - <span class="project-tagline">An archiving tool for backing up video game save data on your PC. Uses Giant Bomb API and GamesDB API to populate game date. Can backup manually on request or at specific intervals.</span>
                </div><!--//item-->
            </section><!--//section-->