<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Portfolio Manager</h3>
                            <div class="time">2008 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">UBS Private Wealth, New York</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Created and implemented customized strategic allocations for High Net Worth families. I became my clients' trusted advisor and leveraged all of UBS's resources to help them achieve their financial goals.</p>  
                        <p>I traded traded equities, bonds, and various derivatives on a daily basis. The aggregate market value of my trades reached as high as $75MM per trade, accessing dark pool liquidity.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Sales Associate</h3>
                            <div class="time">2006 - 2008</div>
                        </div><!--//upper-row-->
                        <div class="company">Morgan Stanley, New York</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As an associate for a Private Wealth Management team, I executed brokerage orders for clients, created all presentation material for client meetings, and efficiently managed all account documentation.</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->