<section id="projects">
<div class="container">
  <h3>Applications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/HR-TeamJoe/Away">Awayyy</a></strong>
			- An application designed to foster world travel and new experiences by guiding you to the perfect destination. Uses Google Places API and Dark Sky API to match potential travel destinations to your specified temperature, time of year, budget, and interests.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/HR-TeamJoe/ShareIn">ShareIn</a></strong>
			- Legacy codebase project, a social network for renting useful items from others in your community. Add things you own and want to share to your profile, then others nearby can search for them. For a fee, people can borrow these items from you.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/rcornell/Asset-Management-Platform">Asset Management Platform</a></strong>
			- A C#/WPF-based desktop application to practice buying and selling equities, ETFs, and mutual funds. Uses Yahoo Finance API to track real time market data and position value.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://github.com/rcornell/SaveMonkey">SaveMonkey</a></strong>
			- An archiving tool for backing up video game save data on your PC. Uses Giant Bomb API and GamesDB API to populate game date. Can backup manually on request or at specific intervals.
		</h5>
		<!-- <h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>
			- Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
			eam doming blandit facilisis.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 6</a></strong>
			- Inermis recusabo elaboraret mea et, dicat neglegentur vim te. Nec et sanctus scriptorem,
			usu ex sapientem gubergren. Tamquam admodum ei usu.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>
			- Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
			tractatos partiendo at, debet ubique oporteat ut his.
		</h5> -->
    </div>
  </div>
</div>
</section>
